<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Create a Custom Mad Lib!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Fill in nouns, adjectives, adverbs, exclamations, and so on to create your custom MadLibs!</h1>
    <div class="row">
      <div class="col-sm-6">
        <form action="/madlib2" method="post">
          <div class="form-group">
            <label for="noun1">Enter a noun</label>
            <input id="noun1" name="noun1" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="adjective1">Enter an adjective</label>
            <input id="adjective1" name="adjective1" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="adverb1">Enter an adverb</label>
            <input id="adverb1" name="adverb1" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="noun2">Enter a noun</label>
            <input id="noun2" name="noun2" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="adjective2">Enter an adjective</label>
            <input id="adjective2" name="adjective2" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="adverb2">Enter an adverb</label>
            <input id="adverb2" name="adverb2" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="number1">Enter a number</label>
            <input id="number1" name="number1" type="text" class="form-control">
          </div>
          <button type="submit">Go!</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>