<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Create a Custom Mad Lib!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    body {
      background-color: beige;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <a href="../Form2">Click here for a breakfast related story!</a>
    </div>
    <div class="row">
      <a href="../Form">Click here for a dessert related story!</a>
    </div>
  </div>
</body>

</html>