<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Create a Custom Postcard!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <p>@Model.Noun ate some @Model.Adjective cookies.</p>
  <p>@Model.Noun @Model.Adverb reached for a 2nd cookie.</p>
</body>

</html>